Flask>=2.2
Flask-SQLAlchemy>=3.0
Flask-Migrate
Flask-JWT-Extended
Flask-Limiter
Flask-Talisman
Flask-Cors
psycopg2-binary
marshmallow
pyotp
requests
celery[redis]
redis
python-dotenv
boto3
flower
waitress
pytest
pytest-flask
coverage
pytest-cov
sqlalchemy-utils
alembic
Werkzeug>=2.2
